h1
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: brown;
    border: 5px dashed black;
    box-shadow: 5px 5px 30px red;
    color: cyan;
}

.btn-success
{
    margin-top: 400px;
}

#title:hover
{
    color: darkblue;
    background-color: lightseagreen;
    box-shadow: 3px 3px 50px blueviolet;
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from
    {
        box-shadow: 4px 4px 29px cornflowerblue;
    }

    to
    {
        box-shadow: 5px 5px 19px coral;
    }
}
